@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');



.chart-container {
    background-color: rgb(0 0 0 / 67%);
    width: 760px;
    height: 380px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4% 4% 3% 3%;
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; /* Mette il video dietro al contenuto */
}

.res {
    max-width: 796px;
    font-size: 25px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    /* background: url('./img/670622.jpg') no-repeat center  fixed; */
    font-family: 'Voces', sans-serif;
    background-position: center;
    background-clip: content-box;
    overflow-x: hidden;
    overflow-y: hidden;
}



.flex {
    display: flex;
    width: 900px;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}



.phrase {
    max-width: 1300px;
    /* border: 1px solid whitesmoke; */
    padding: 10px;
    font-size: 30px;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); */
    font-weight: bolder;
    /* display: flex;
    justify-content: flex-start; */
    color: rgb(255, 255, 255);
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black,
    -2px  0 0 black,
     2px  0 0 black,
     0  2px 0 black,
     0 -2px 0 black;


    /* overflow-x: auto; */
    /* white-space: nowrap;
    text-align: center; */
    z-index: 1;
}

form input {
    /* width: 200px; */
    background-color: transparent;
    outline: none;
    /* border: 1px solid whitesmoke; */
    appearance: none;
    border: none;
    opacity: 0;
}


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 45px;
    width: 100vw;
    height: 100vh;
}

.container h1 {
    font-size: 50px;
    /* text-shadow: 0px 0px 9px rgba(0, 0, 0, 1); */
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black,
    -2px  0 0 black,
     2px  0 0 black,
     0  2px 0 black,
     0 -2px 0 black;
    margin-top: 70px;
}


.stats {
    /* border: 4px solid whitesmoke; */
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    /* text-shadow: 0px 0px 9px rgba(0, 0, 0, 1); */
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black,
    -2px  0 0 black,
     2px  0 0 black,
     0  2px 0 black,
     0 -2px 0 black;
     font-size: 20px;
}



.start {
    position: absolute;
    top: 10px;
    left: 10px;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
    font-size: 20px;
}

.play {
    cursor: pointer;
    padding: 10px;
}

.play:hover {
    font-weight: bold;
}

.final {
    height: 600px; width: 600px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none; background: transparent;
}

.final-gamend {
    height: 300px; width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block;
    /* background-color: rgb(255, 255, 255); */
    background: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 38px;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
    color: white;
    /* background: url(./img/670622.jpg) center; */
    padding-top: 90px;
    font-weight: 900;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black,
    -2px  0 0 black,
     2px  0 0 black,
     0  2px 0 black,
     0 -2px 0 black;
     
}

.opacity-0 {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.opacity-1 {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.show-graph {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    color: white;
    cursor: pointer;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black,
    -2px  0 0 black,
     2px  0 0 black,
     0  2px 0 black,
     0 -2px 0 black;

}

.show-graph:hover {
    background-color: #4B6C71;
    transition: background-color 1s ease;
}



.pulse {
    animation: pulse-animation 2s infinite;
}

.pulse:hover {
    animation: none;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(17, 15, 15, 0.9);
    }

    100% {
        box-shadow: 0 0 0 30px rgba(255, 78, 71, 0);
    }
}


.restart {
    cursor: pointer;
    padding: 10px;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black,
    -2px  0 0 black,
     2px  0 0 black,
     0  2px 0 black,
     0 -2px 0 black;
    width: 200px;
    font-size: 20px;

}



.start .restart:hover {
    font-weight: bolder;
}

.error {
    color: #ff5000;
    
}



.correct {
    /* color: #8c4977; */
    color: #d2d2d2;

 
}

word {
    padding-left: 8px;
}

letter {
    padding-left: 1px;
}

.currentLetter {
    text-decoration: overline #fff;
}



.cursor {
    border-right: 1px solid black;
}


@keyframes floatUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.float-up-right {
    position: absolute;
    color: green;
    font-size: 1.2em;
    animation: floatUp 1s ease-out forwards;
}

.float-up-error {
    position: absolute;
    color: red;
    font-size: 1.2em;
    animation: floatUp 1s ease-out forwards;
}

@media screen and (max-width: 768px ) {
    .container h1 {
        font-size: 32px;
        margin-top: 88px;
    }

    .stats {
        /* border: 4px solid whitesmoke; */
        border-radius: 10px ;
        width: 300px;
        max-height: 53px;
        position: absolute;
        left: 115px;
        top: 26px;
        /* box-shadow: 0px 0px 9px rgba(0, 0, 0, 1); */
        display: flex;
        justify-content: space-evenly;
        text-shadow: 
            -1px -1px 0 black,  
            1px -1px 0 black,  
            -1px  1px 0 black,  
            1px  1px 0 black,
            -2px  0 0 black,
            2px  0 0 black,
            0  2px 0 black,
            0 -2px 0 black;
    }

    .time {
        border-bottom: none;
        border-right: 3px solid whitesmoke;
        padding-bottom: 0;
        padding-right: 6px;
    }

    .phrase {
        font-size: 20px;
    }

    form input {
        /* width: 200px; */
        background-color: rgba(31, 31, 32, 0.6);
        outline: none;
        /* border: 1px solid whitesmoke; */
        /* appearance: none; */
        border-bottom: 3px solid white ;
        opacity: 1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: whitesmoke;

    }

    .final {
        height: 600px; width: 600px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;
    }
    
    .final-gamend {
        height: 300px; width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block;
        /* background-color: rgb(255, 255, 255); */
        background: transparent;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
        color: white;
        /* background: url(./img/670622.jpg) center; */
        padding-top: 90px;
        font-weight: 900;
        
    }

    .final-gamend {
        height: 600px;
        justify-content: space-around;
    }

    .restart {
        width: 0;
    }
}

@media screen and (max-width: 1008px) {
    .phrase {
        font-size: 25px;
    }
}


@media screen and (max-width: 500px) {
    .phrase {
        font-size: 18px;
    }
}



/* .glitch {
    font-size: 80px;
    color: white; 
    position: relative;
    display: inline-block;
    font-family: 'Voces', sans-serif;
    animation: glitch 1.5s infinite linear;
} */

